* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Lakes', sans-serif;
}

body {
    min-width: 320px;
    max-width: 100%;
    background-color: #F8F8F8;
    margin: auto;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
}

ul {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1B1C21;
    letter-spacing: 0.2px;
}