@font-face {
    font-family: 'TT Lakes';
    src: url('/verstka-maket/fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('/verstka-maket/fonts/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('/verstka-maket/fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.main {
    max-width: 1120px;
    margin: 0 auto;
    overflow-x: hidden;
}

.header {
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
}

.header::before {
    content: '';
    position: absolute;
    background: #FFFFFF;
    left: -32px;
    right: -32px;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.header__container {
    display: flex;
    height: 88px;
    width: 100%;
}

.header__line {
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
}

.header__list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex: 1;
}

.header__left,
.header__center,
.header__right {
    display: flex;
    align-items: center;
    position: relative;
}

.header__center {
    justify-content: space-between;
    flex: 1;
    gap: 16px;
}

.header__items {
    display: flex;
    gap: 16px;
}

.header__center::after {
    right: -16px;
}

.logo-icon {
    width: 96px;
}

.header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 100%;
}

.header__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.title {
    position: relative;
    font-size: 28px;
}

.title::before {
    position: absolute;
    border-radius:0 6px 6px 0;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
}

.services__tabs {
    display: flex;
    gap: 26px;
    text-wrap: nowrap;
    overflow-y: scroll;
    overflow-x: auto;
    scrollbar-width: none;
}

.services__tabs::-webkit-scrollbar {
    display: none;
}

.section-services__tab {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #7E7E82;
}

.section-services_active {
    padding: 8px 16px;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.services__button {
    display: flex;
    font-size: 16px;
    font-weight: 500;
}

.services__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.services__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.header__button_text {
    display: none;
}

.services__text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.services__image img {
    display: block;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    max-width: 100%;
}

.services__text p {
    display: -webkit-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .main {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        gap: 24px;
    }

    .header__logo {
        padding-left: initial;
    }

    .header__right {
        flex: 1;
        gap: 16px;
        justify-content: flex-end;
    }

    .header__center::before {
        opacity: 0;
    }

    .header__button_text {
        display: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    .header__items {
        display: none;
    }

    .header__line_left {
        display: none;
    }

    .title {
        position: relative;
        width: 100%;
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
    }

    .title::before {
        left: -16px;
    }

    .services__content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: relative;
    }

    .services__image img{
        width: calc(100% + 32px);
        border-radius: 0;
        transform: translateX(-16px);
        max-width: none;
    }

    .services__text p {
        -webkit-line-clamp: 5;
    }
}

@media (min-width: 768px) and (max-width: 1119px) {
    .main {
        display: flex;
        padding: 0 24px;
        flex-direction: column;
        row-gap: 24px;
    }

    .header__list {
        gap: 20px;
    }

    .header__right {
        gap: 20px;
    }

    .header__items {
        display: flex;
    }

    .header__logo {
        position: relative;
        display: flex;
    }

    .title::before {
        left: -24px;
    }

    .services__content {
        display: flex;
        flex-direction: row;
        gap: 48px;
    }

    .services__text {
        display: flex;
        flex-direction: column;
        flex: 1 1 48%;
        row-gap: 10px;
        order: 1;
    }

    .services__image {
        flex: 1 1 48%;
        order: 2;
    }

    .services__text p {
        line-height: 20px;
        -webkit-line-clamp: 7;
        width: 312px;
    }

    .services__image img {
        width: 100%;
        border-radius: 6px;
        transform: none;
        max-width: 100%;
    }
}

@media (min-width: 1120px) {
    .main {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        row-gap: 16px;
        column-gap: 36px;
        padding: 0 32px;
    }

    .header {
        background-color: transparent;
    }

    .header::before {
        background-color: transparent;
    }

    .header__container {
        display: flex;
        align-items: center;
    }

    .header__center,
    .header__left,
    .header__line {
        display: none;
    }

    .header__right {
        gap: 32px;
    }

    .header__list {
        flex-direction: row-reverse;
    }

    .header__item_type_service,
    .header__item_type_search {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .header__button_text {
        display: block;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.2px;
    }

    .title {
        grid-column-start: 1;
        grid-row-start: 1;
        align-content: center;
    }

    .header {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .title::before {
        left: -32px;
    }

    .services__tabs {
        width: 100%;
        grid-column: span 2 / span 2;
        flex-wrap: nowrap;
        overflow-y: initial;
        overflow-x: scroll;
        row-gap: 14px;
    }

    .services__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1 / -1;
        gap: 48px;
        align-items: stretch;
    }

    .services__text, .services__image {
        height: 100%;
    }

    .services__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 6px;
        transform: none;
        max-width: 100%;
    }

    .services__text p {
        -webkit-line-clamp: 8;
    }
}

